<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Babbage</title>
</head>
<body>
    <strong><a href="/"> <<--Atras</a></strong>
    <h1>Charles Babbage</h1>
    <hr>
    <img src="public/img/CharlesBabbage.jpg" alt="Imagen de Charles Babbage">
    <h2>Biografía</h2>
    <hr>
    <p><strong>Charles Babbage</strong> fue un <strong>matemático</strong> y <strong>científico británico</strong>. Diseñó y desarrolló una <strong>calculadora mecánica</strong> capaz de calcular tablas de funciones numéricas por el método de diferencias. También diseñó, (pero nunca construyó), la analítica para ejecutar programas de <strong>tabulación</strong> o <strong>computación</strong>; por estos inventos se le considera como una de las primeras personas en concebir la idea de lo que hoy llamaríamos una <strong>computadora</strong>, por lo que se le considera como "El padre de los ordenadores". En el <strong>Museo de Ciencias de Londres</strong> se exhiben partes de sus mecanismos inconclusos. Parte de su cerebro conservado en formol se exhibe en el <strong>Royal College of Surgeons of England</strong>. Situado en <strong>Londres</strong>.</p>
</body>
</html>