<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Berners-Lee</title>
</head>
<body>
    <strong><a href="/"> <<--Atras</a></strong>
    <h1>Tim Berners-Lee</h1>
    <hr>
    <img src="public/img/Berners-Lee.jpg" alt="Imagen de Berners-Lee" width="500" height="400">
    <h2>Biografía</h2>
    <hr>
    <p><strong>Timothy «Tim» John Berners-Lee</strong> (Londres, <strong>Inglaterra</strong>; 8 de junio de 1955) es un <strong>científico de la computación</strong> británico, conocido por ser el padre de la <strong>World Wide Web</strong>. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo <strong>HTTP</strong> en diciembre de 1990. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el <a>MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta <strong>la Web</strong> y que permiten el funcionamiento de <strong>Internet</strong>.
    Ante la necesidad de distribuir e intercambiar información acerca de sus investigaciones de una manera más efectiva, Berners-Lee desarrolló las ideas fundamentales que estructuran la web. Él y su grupo crearon lo que por sus siglas en inglés se denomina Lenguaje <strong>HTML</strong> (HyperText Markup Language) o lenguaje de etiquetas de hipertexto, el protocolo <strong>HTTP</strong> (HyperText Transfer Protocol) y el sistema de localización de objetos en la web <strong>URL</strong> (Uniform Resource Locator).
    Es posible encontrar muchas de las ideas plasmadas por Berners-Lee en el Proyecto Xanadú (que propuso <strong>Ted Nelson</strong>) y el <strong>memex</strong> (de <strong>Vannevar Bush</strong>).</p>
</body>
</html>