<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clarke</title>
</head>
<body>
    <strong><a href="/"> <<--Atras</a></strong>
    <h1>Arthur C. Clarke</h1>
    <hr>
    <h2>Biografía</h2>
    <hr>
    <p>Arthur Charles Clarke (Minehead, Inglaterra; 16 de diciembre de 1917-Colombo, Sri Lanka; 19 de marzo de 2008), más conocido como Arthur C. Clarke, fue un escritor y científico británico, autor de obras de divulgación científica y de ciencia ficción como 2001: Una odisea del espacio, El centinela o Cita con Rama, así como coguionista de la película 2001: Una odisea del espacio basada en su novela homónima.</p>
</body>
</html>