<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Héroes</title>
</head>
<body>
    <h1>Las Heroínas y los Héroes Tecnológicos</h1>
    <hr>
    <ul><li><a href="/babbage">Charles Babbage</a></li>
    <li><a href="/berners-lee">Tim Berners-Lee</a></li>
    <li><a href="/clarke">Arthur C. Clarke</a></li>
    <li><a href="/hamilton">Margaret Hamilton</a></li>
    <li><a href="/hooper">Grace Murray Hopper</a></li>
    <li><a href="/lovelace">Ada Lovelace</a></li>
    <li><a href="/turing">Alan Turing</a></li></ul>
    <hr>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure repudiandae consequuntur delectus odit ad in, aut optio vel cum odio at eius ut nulla deserunt similique tempore atque, saepe esse!</p>
</body>
</html>